<launch>
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find ar_pose)/launch/live_single.vcg"/>
			
<!--    <node pkg="tf" type="static_transform_publisher" name="world_to_cam"
              args="0 0 0.5 -1.57 0 -1.57 world usb_cam 10" />-->

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" respawn="false" output="log">
        <param name="video_device" type="string" value="$(arg videodevice)"/>
        <param name="camera_frame_id" type="string" value="usb_cam"/>
        <param name="io_method" type="string" value="mmap"/>
        <param name="image_width" type="int" value="1920"/>
        <param name="image_height" type="int" value="1080"/>
        <param name="pixel_format" type="string" value="yuyv"/>
        <rosparam param="D">[0.0712, -0.033449, -0.013762, 0.020095, 0.0]</rosparam>
        <rosparam param="K">[1568.160101, 0.0, 1026.238734, 0.0, 1565.321054, 494.027014, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="P">[1608.296875, 0.0, 1058.763757, 0.0, 0.0, 1629.245605, 481.039521, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>
<!--        <rosparam param="D">[0.025751483065329935, -0.10530741936574876,-0.0024821434601277623, -0.0031632353637182972, 0.0000]</rosparam>
        <rosparam param="K">[558.70655574536931, 0.0, 316.68428342491319, 0.0, 553.44501004322387, 238.23867473419315, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="R">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
        <rosparam param="P">[558.70655574536931, 0.0, 316.68428342491319, 0.0, 0.0, 553.44501004322387, 238.23867473419315, 0.0, 0.0, 0.0, 1.0, 0.0]</rosparam>-->
    </node>
	
    <node name="ar_pose" pkg="ar_pose" type="ar_single" respawn="false" output="screen">
        <param name="marker_pattern" type="string" value="$(find ar_pose)/data/patt.hiro"/>
        <param name="marker_width" type="double" value="80.0"/>
        <param name="marker_center_x" type="double" value="0.0"/>
        <param name="marker_center_y" type="double" value="0.0"/>
        <param name="threshold" type="int" value="100"/>
        <param name="use_history" type="bool" value="false"/>
    </node>
    <node pkg="sofiehdfformat_rosdriver" name="sofie" type="quat_sofiehdfformat_writer.py" output="log">
        <param name="filename" value="$(arg filename)" />
        <param name="runname" value="$(arg runname)" />
    </node>

    <node pkg="ar_sofiehdfformat_bridge" name="sofie_quat_bridge" type="ar_to_quat_sofiehdfformat.py" output="log">
    </node>
</launch>
