<launch>
    <node pkg="sofiehdfformat_rosdriver" name="sofie" type="quat_sofiehdfformat_writer.py" output="screen">
<!--      <param name="filename" value="/home/cooke/ourtest.h5" />
      <param name="runname" value="ourtest" />-->
    </node>

    <node pkg="ar_sofiehdfformat" name="sofie_quat_bridge" type="ar_to_quat_sofiehdfformat.py" output="screen">
    </node>
</launch>
