<launch>
  <arg name="left_camera" default="true" />
  <arg name="right_camera" default="true" />

  <node if="$(arg left_camera)" name="left_usb_cam" pkg="usb_cam" respawn="false" type="usb_cam_node" output="screen">
    <rosparam command="load" file="$(find usb_cam)/config/left_usb_cam.yml"/>
    <remap from="image" to="/usb_cam/left_image_raw"/>
    <param name="autosize" value="true" />  
  </node>

  <node if="$(arg right_camera)" name="right_usb_cam" pkg="usb_cam" respawn="false" type="usb_cam_node" output="screen">
    <rosparam command="load" file="$(find usb_cam)/config/right_usb_cam.yml"/>
    <remap from="image" to="/usb_cam/right_image_raw"/>
    <param name="autosize" value="true" />  
  </node>

</launch>